[Unit]
Description=Meal Planner
After=network.target

[Service]
User=root
WorkingDirectory=/root/lemonprepper
LimitNOFILE=4096
ExecStart=/root/lemonprepper/env/bin/uvicorn main:app --uds /tmp/lemonprepper.sock
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
